
.page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:50rem;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    justify-content: center;
    /* gap:2rem; */
}

.right-half{
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    font-style: bold;
    justify-content: center;
    align-items: center;
    height:25rem;
}

.badge-box{
    display: flex;
    align-items: flex-start;
}

.badge{
    display: flex;
    
}

.top-half{
    display: flex;
    height: 22rem;
    /* gap: 8rem; */
}

.rank{
    display: flex;
    justify-content: flex-start;
}

.bottom{
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    width: 65rem;
}

.rank{
    font-size: 8rem;
    color: #339989;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2.5rem;
}

.txt-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 22rem;
    /* padding-top: 4.4rem; */
}

span {
    margin: .3rem;
}

.card{
    padding: 0 1.5rem 0 1.5rem;
}